@font-face {
    font-family: Josefin Sans;
    src: url("../../../font/JosefinSans/JosefinSans-VariableFont_wght.ttf");
}
@font-face {
    font-family: Josefin Slab;
    src: url("../../../font/JosefinSlab/JosefinSlab-VariableFont_wght.ttf");
}
.titleText{
    font-family: Josefin Sans !important;
    font-size: 1.2em !important;
}
.defaultText{
    font-family: JosefinSlab !important;
}
.colorStrongText{
    color: rgb(55,80,92)
}
.toolbarColor{
    background-color: rgb(254,147,140) !important;
    color: rgb(254,147,140) !important;
}
.buttonBackground{
    background-color: rgb(254,147,140) !important;
    color: rgb(254,147,140) !important;
}
.pinkyBackground{
    background-color: rgb(254,147,140) !important;
}
.buttonText-Color{
    color: rgb(254,147,140) !important;
    border-color: rgb(254,147,140) !important;;
}
.buttonCategory{
    background-color : rgb(66,129,164) !important; 
}

.selectCategory button{
    border-color:rgb(66,129,164) !important;
}

.linkColor{
    color: rgb(66,129,164) !important;
    
}