@font-face {
    font-family: Josefin Sans;
    src: url("../../font/JosefinSans/JosefinSans-VariableFont_wght.ttf");
}
@font-face {
    font-family: Josefin Slab;
    src: url("../../font/JosefinSlab/JosefinSlab-VariableFont_wght.ttf");
}
.backgroundB{
    background-color: rgb(228, 239, 241);
    
}
.textColorDefault{
    color: rgb(88, 157, 108) !important;
}
.textColorID{
    color: rgb(88, 157, 108) !important;
    align-items: center !important;
    justify-content: center !important;
}
.backgroundNav{
    background-color: rgb(228, 239, 241) !important;
}
.navText{
    font-family: Josefin Sans !important;
    font-size: 0.9em !important;
    color: rgb(88, 157, 108) !important;
}
.navTitle{
    font-family: Josefin Sans !important;
    font-size: 1em !important;
    color: rgb(254,147,140) !important;

}
.navButtonEntrar{
    font-family: Josefin Sans !important;
    font-size: 1em !important;
    background-color: rgb(254,147,140) !important;
}
.navSubMenu{
    font-family: Josefin Sans !important;
    font-size: 0.9em !important;
    color: rgb(66, 129, 164) !important;
}
.defaultText{
    font-family: JosefinSlab !important;
}
.buttonCategory{
    background-color : rgb(66,129,164) !important; 
    border-color:rgb(66,129,164) !important;
}

.selectCategory button{
    border-color:rgb(66,129,164) !important;
}

.linkColor{
    color: rgb(66,129,164) !important;
    
}